#container{
    /* position: absolute;
    left: 50%;
    /* transform: translate(-50%); */
    margin: 0 auto;
    width: 800px; 
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: 10px;
}
th, td{
    padding: 10px;
}
td{
    font-weight: bold;
}